<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/javascripts/domready.js"></script>
    <script type="text/javascript" src="/javascripts/submitStrap.js"></script>
  </body>
</html>
